<div class="full-width full-height">
 <div class="fixed-width full-height margin-auto d-flex flex-column bg-grey">
  <div class="fs-54 text-center ">
   Welcome
  </div>
  <div class="fs-24 text-center pb-4">
   Click on the Icon to proceed.
  </div>
  <div class="menu-list">
   <div class="menu-item d-flex" (click)="redirect('calculator')">
    <div class="p-3">
     <img src="./assets/icons/calculator.svg" style="width: 120px;" alt="">
    </div>
    <div class="py-3">This is simple calculator demonstrator</div>
   </div>
   <div class="menu-item d-flex" (click)="redirect('convertor')">
    <div class="p-3">
     <img src="./assets/icons/Units-2-icon.png" style="width: 120px;" alt="">
    </div>
    <div class="py-3">This is simple Unit convertor demonstrator</div>
   </div>
  </div>
 </div>
</div>